[user]
	name = Ankush
	email = me@ankushbhowmik.com
	signingkey = C56AA78FA9DCA779
# This ensures that commits in personal repo will be signed

[includeIf "gitdir:~/Legitt/"]
  path = ~/.gitconfig-work  # Contains work email/key

[include]
  path = /Users/ankush/.config/delta/themes.gitconfig

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    side-by-side = true
    features = arctic-fox
    keep-plus-minus-markers = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
  required = true

#[commit]
#	gpgsign = true
